:root {
  --main-yellow: #D9AA50;
  --main-green: #606D52;
  --main-light: #E9D8C6;
  --main-red: #B76140;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/Athelas-Regular.ttf) format('truetype');
}
.nav .nav-item .nav-link {
  color: var(--main-green);
}

.nav-link{
    text-decoration: underline 0.2em rgba(0, 0, 0, 0);
    transition: text-decoration-color 1250ms;
}

.nav-link:hover {
    text-decoration-color: var(--main-red) ;
}

.welcome{
  padding-top: 40vh;
  font-size: 10vw;
  font-family: 'Dancing Script', cursive;
  color: white;
  text-shadow: grey 2px 5px;
}

.btn-blog{
  font-family: 'MyFont';
  font-size: 1.75vw;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--main-green);
  color: var(--main-light);
  height: 12.5vh;
  width: 15vw;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--main-yellow);
  margin-right: 5em;
  margin-left: 5em;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.mainb {
  border-color: var(--main-yellow) !important;
  margin-bottom: 5vh;
}

.welcome-message {
  font-family: 'MyFont';
  color: var(--main-green);
}

.glad{
  font-family: 'Dancing Script', cursive;
}

.hero {
  background-image: url("https://res.cloudinary.com/dhclz5fy2/image/upload/v1630020116/TheWirthHomeStead/hero_mmk7rc.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 40vh;
  margin-top: 10vh;
}

.landing-link {
  background-image: url("https://res.cloudinary.com/dhclz5fy2/image/upload/v1630026892/TheWirthHomeStead/landing-trowel_o1hhjz.jpg");
  background-repeat: no-repeat;
  background-size: 82% 100%;
  background-position: center top;
  min-height: 1200px;
  margin-top: 10vh;


}