:root {
  --main-yellow: #D9AA50;
  --main-green: #606D52;
  --main-light: #E9D8C6;
  --main-red: #B76140;
  --main-brown: #967E5C;
  --main-gray: #645C52;
}

html{
  margin: 1.25rem;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/Athelas-Regular.ttf) format('truetype');
}
.nav .nav-item .nav-link {
  color: var(--main-green);
}

.nav-link{
    text-decoration: underline 0.2em rgba(0, 0, 0, 0);
    transition: text-decoration-color 1250ms;
}

.nav-link:hover {
    text-decoration-color: var(--main-red) ;
}

.welcome{
  padding-top: 30vh;
  font-size: 10vw;
  font-family: 'Dancing Script', cursive;
  color: white;
  text-shadow: grey 2px 5px;
}

.btn-blog{
  font-family: 'MyFont';
  font-size: clamp(1.5rem, 1vw, 4rem);
  background-color: var(--main-brown);
  color: var(--main-light);
  margin-top: 1vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--main-yellow);
  margin-right: 2.5em;
  margin-left: 2.5em;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.mainb {
  border-color: var(--main-yellow) !important;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.welcome-message {
  font-family: 'MyFont';
  color: var(--main-green);
}

.glad{
  font-family: 'Dancing Script', cursive;
}

.hero {
  background-image: url("https://res.cloudinary.com/dhclz5fy2/image/upload/v1630020116/TheWirthHomeStead/hero_mmk7rc.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 40vh;
  margin-top: 10vh;
}

.landing-link {
  background-image: url("https://res.cloudinary.com/dhclz5fy2/image/upload/v1630026892/TheWirthHomeStead/landing-trowel_o1hhjz.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  min-height: 105vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
  margin-top: 10vh; 
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .landing-link{
    min-height: 50vh;
  background-size: 100% 100%;
  }
  .separator::before,
  .separator::after {
    margin-right: 1em;
    margin-left: 1em;
  }
}

